[submodule "Ava/submodules/spdlog"]
	path = Ava/submodules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ava/submodules/GLFW"]
	path = Ava/submodules/GLFW
	url = https://github.com/glfw/glfw
[submodule "Ava/submodules/imgui"]
	path = Ava/submodules/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
